<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="assets/css/skin.css">
  <script type="text/javascript" src="assets/js/index.js"></script>
  <title>JS Test Task</title>
</head>
<body>
  
  <div class="content">
    <h1>Greetings!</h1>
    <p>You will not find anything interesting here, at least for now</p>
    
    <fieldset class="internationalRatesInfo">
      <legend>Example</legend>
      <select id="countriesList">
        
      </select>
      <button id="getRates">Load International rates</button>
    </fieldset>
    <div id="listRates" class="output">
      <h4>{{countryName}}</h4>
      {{ratesTable}}
    </div>
  </div>

</body>
</html>