@font-face {
  font-family: 'eogesRegular';
  src: url('../fonts/eoges-webfont.eot');
  src: url('../fonts/eoges-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/eoges-webfont.woff') format('woff'),
       url('../fonts/eoges-webfont.ttf') format('truetype'),
       url('../fonts/eoges-webfont.svg#eogesRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'eogesSemiLightRegular';
  src: url('../fonts/eoges-semilight-webfont.eot');
  src: url('../fonts/eoges-semilight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/eoges-semilight-webfont.woff') format('woff'),
       url('../fonts/eoges-semilight-webfont.ttf') format('truetype'),
       url('../fonts/eoges-semilight-webfont.svg#eogesSemiLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  background-color: #2067b2;
  font-family: 'eogesSemiLightRegular';
  color: white;
  text-shadow: 0 1px 0 #0953a0;
}
fieldset {
  border: 1px solid #2578cf;
}
fieldset legend {
  color: #579ae1;
}
select, input {
  width: 200px;
}
.content {
  margin: 100px 5%  0 15%;
}
.content ul {
  padding-left: 0;
}
.content li {
  list-style-type: none;
}
.semi-hidden, .semi-hidden a {
  color: #418ddd;
}
.internationalRatesInfo {
  max-width: 500px; 
  overflow: auto;
  margin: 0 0 20px;
}
.internationalRatesInfo select {
  width: 325px;
}
.internationalRatesInfo button {
  float: right; 
}
.output h4 {
  margin-bottom: 5px;
}
.output table {
  width: 500px; 
}
.output table th {
  border-bottom: 1px solid #2578CF
}
.output table td { 
  font-size: 12px;
}
.output table th, .output table td {
  text-align: left;
  vertical-align: top;
  padding: 3px 10px 3px 0;
}